openapi: 3.0.0

info:
  title: cLOUDy UBL Ordering
  version: 1.0.0
  description: |
    This is the UBL ordering API.

    🔐 Authentication  
    All endpoints except `/create-key` and `/health` require an API key.

    To obtain an API key:
    1. Call **POST /create-key**
    2. Copy the returned key
    3. Send it in requests:

    api-key: YOUR_API_KEY

servers:
  - url: http://cloudylb-504707632.us-east-1.elb.amazonaws.com/api

security:
  - ApiKeyAuth: []

tags:
  - name: Auth
    description: Operations for authentication
  - name: Orders
    description: Operations about the orders
  - name: Validation
    description: Operations for XML validation
  - name: System
    description: System health and monitoring

paths:

  /health:
    get:
      tags:
        - System
      security: []
      summary: Health check
      description: Returns the health status of the API service.
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  service:
                    type: string
                    example: "cLOUDy UBL Ordering API"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-03-14T15:05:00Z"

        "500":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /create-key:
    post:
      tags:
        - Auth
      security: []
      summary: Generate API key
      description: Authenticate a user and generate an API key. If user already registered returns their key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'

      responses:
        "200":
          description: API key generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'

        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'

        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'


  /v1/buyer/{buyerId}/order:

    post:
      tags:
        - Orders
      summary: Create order
      description: Creates an order for a buyer and returns the generated UBL XML.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'

      responses:
        "200":
          description: Order created successfully
          content:
            application/xml:
              schema:
                type: string
                example: "<order><id>123</id></order>"

        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'

        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'

        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'


    get:
      tags:
        - Orders
      summary: List orders for a buyer
      description: Retrieve a paginated list of orders for a buyer.
      parameters:

        - name: buyerId
          in: path
          required: true
          schema:
            type: string

        - name: status
          in: query
          required: false
          schema:
            type: string
            example: CREATED

        - name: fromDate
          in: query
          required: false
          schema:
            type: string
            format: date
            example: "2026-03-01"

        - name: toDate
          in: query
          required: false
          schema:
            type: string
            format: date
            example: "2026-03-10"

        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10

        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0

      responses:
        "200":
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersListResponse'

        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'

        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'

        "404":
          description: Buyer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'


  /v1/buyer/{buyerId}/order/{orderId}:

    get:
      tags:
        - Orders
      summary: Get order by ID
      description: Retrieve a specific order for a buyer.
      parameters:

        - name: buyerId
          in: path
          required: true
          schema:
            type: string

        - name: orderId
          in: path
          required: true
          schema:
            type: string

      responses:
        "200":
          description: Order retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'

        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'

        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'


  /validate-xml:
    post:
      tags:
        - Validation
      security: []
      summary: Validate XML
      description: Validate an order XML document.

      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              example: "<order><id>123</id></order>"

      responses:
        "200":
          description: XML validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XmlValidationResponse'

        "400":
          description: XML validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XmlValidationError'

        "500":
          description: Server error during validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-key

  schemas:
    CreateApiKeyRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: "john_doe"
        password:
          type: string
          example: "password123"

    ApiKeyResponse:
      type: object
      properties:
        apikey:
          type: string
          example: "b7c4c5e8a9d34f6c9b8e21d7a4f12345"

    BadRequestError:
      type: object
      properties:
        status:
          type: integer
        error:
          type: string

    NotFoundError:
      type: object
      properties:
        status:
          type: integer
        error:
          type: string

    ServerError:
      type: object
      properties:
        status:
          type: integer
        error:
          type: string

    InvalidApiKeyError:
      type: object
      properties:
        status:
          type: integer
          example: 401
        error:
          type: string
          example: "API key is missing or invalid"

    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: "Invalid username or password"

    XmlValidationResponse:
      type: object
      properties:
        valid:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: string
          example: []

    XmlValidationError:
      type: object
      properties:
        valid:
          type: boolean
          example: false
        errors:
          type: array
          items:
            type: string
          example:
            - "Missing required element: orderId"
            - "Invalid currency code"