openapi: 3.0.0

info:
  title: cLOUDy UBL Ordering
  version: 1.0.0
  description: |
    This is the UBL ordering API.

    ### CORS
    CORS is enabled for cross-origin requests. This API uses API key authentication,
    so clients should not send credentials (e.g. cookies or withCredentials);
    include the api-key header only. Do not set withCredentials/Credentials to true.

    🔐 **Authentication**
    All endpoints except `/get-key`, `/health`, and `/v1/validate-xml` require an API key.

    To obtain an API key:
    1. Call **POST /get-key**
    2. Copy the returned key
    3. Send it in requests:

    `api-key: YOUR_API_KEY`

servers:
  - url: http://cloudy-1831309437.us-east-1.elb.amazonaws.com/api
    description: Production Server
  - url: http://0.0.0.0:5001/api
    description: Local Server

security:
  - ApiKeyAuth: []

tags:
  - name: System
    description: System health and monitoring
  - name: Auth
    description: Operations for authentication
  - name: Buyers
    description: Operations about buyers
  - name: Sellers
    description: Operations about sellers
  - name: Orders
    description: |
      Standard order operations (V1).

      **Note:** V1 order endpoints do not support registered buyer IDs or seller IDs.
      Buyer and seller details are taken directly from the request body fields
      (e.g. `address`, `supplier`). To create orders enriched with full registered
      buyer and seller details, use the **Orders V2** endpoints.
  - name: Orders V2
    description: |
      Enhanced order operations (V2).

      Requires the `buyerId` path parameter to be a UUID of a buyer registered
      via **POST /v1/buyer**. The generated UBL XML is automatically enriched
      with full buyer details (party name, postal address, tax scheme, contact).

      Optionally, a `seller_id` field can be included in the request body to link
      a registered seller (created via **POST /v1/seller**). When provided, the
      seller's full details are embedded in the UBL XML 
      
      `SellerSupplierParty` block. When omitted, the `supplier` field in the request body is used as a plain name fallback.
  - name: Products
    description: Operations for managing seller product catalogues
  - name: Cart
    description: |
      A staging area for sellers where the products that are staged for order creation can be viewed.

      Sellers can manage a cart of products and check out to automatically
      generate a UBL order for a registered buyer.
  - name: Utility
    description: Methods for extra functonality

paths:

  /health:
    get:
      tags:
        - System
      security: []
      summary: Health check
      description: Returns the health status of the API service.
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "running"
        "500":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /get-key:
    post:
      tags:
        - Auth
      security: []
      summary: Generate or get API key
      description: Authenticate a user and generate an API key. If user already registered returns their key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        "200":
          description: API key generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /v1/buyer:
    post:
      tags:
        - Buyers
      summary: Create buyer
      description: |
        Creates a new buyer with optional address, tax scheme, and contact details.

        The buyer_id returned can be passed as buyer_id in the **POST /v2/buyer/{buyerId}/order**
        to embed full buyer details in the generated UBL XML.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuyerRequest'
            example:
              party_name: "IYT Corporation"
              customer_assigned_account_id: "XFB01"
              supplier_assigned_account_id: "GT00978567"
              address:
                street: "56A Avon Way"
                city: "Bridgtow"
                state: "Avon"
                postal_code: "ZZ99 1ZZ"
                country_code: "GB"
              contact:
                name: "Mr Fred Churchill"
                telephone: "0127 2653214"
                telefax: "0127 2653215"
                email: "fred@iytcorporation.gov.uk"
              tax_scheme:
                registration_name: "Bridgtow District Council"
                company_id: "12356478"
                exemption_reason: "Local Authority"
                scheme_id: "UK VAT"
                tax_type_code: "VAT"
      responses:
        "201":
          description: Buyer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /v1/buyers:
    get:
      tags:
        - Buyers
      summary: Get all buyers for API key
      description: |
        Returns all buyers associated with the provided API key.
      responses:
        "200":
          description: List of buyers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyersListResponse'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/buyer/{buyerId}:
    put:
      tags:
        - Buyers
      summary: Update buyer
      description: |
        Updates an existing buyer associated with the provided API key.

        Partial updates are supported. You may update one or more of the following:
        - party_name
        - customer_assigned_account_id
        - supplier_assigned_account_id
        - address
        - contact
        - tax_scheme
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBuyerRequest'
            example:
              party_name: "Updated Buyer Pty Ltd"
              supplier_assigned_account_id: "SUP-NEW-001"
              address:
                street: "20 George St"
                city: "Sydney"
                state: "NSW"
                postal_code: "2000"
                country_code: "AU"
              contact:
                name: "Updated Contact"
                telephone: "0400000000"
                telefax: "0299999999"
                email: "updated@buyer.com"
              tax_scheme:
                registration_name: "Updated Tax Name"
                company_id: "999999"
                exemption_reason: "None"
                scheme_id: "GST"
                tax_type_code: "GST"
      responses:
        "200":
          description: Buyer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBuyerResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "403":
          description: Not authorised to update this buyer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: Buyer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerNotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    delete:
      tags:
        - Buyers
      summary: Delete buyer
      description: |
        Deletes a buyer only if all related orders are hard deleted.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Buyer deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBuyerResponse'
        "400":
          description: Invalid buyerId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "403":
          description: Not authorised to delete this buyer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: Buyer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerNotFoundError'
        "409":
          description: Buyer has existing orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBuyerConflictError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/seller:
    post:
      tags:
        - Sellers
      summary: Create seller
      description: |
        Creates a new seller with optional address, tax scheme, and contact details.

        The seller_id returned can be passed as seller_id in the **POST /v2/buyer/{buyerId}/order**
        request body to embed full seller details in the generated UBL XML.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSellerRequest'
            example:
              party_name: "Consortial Supplies"
              customer_assigned_account_id: "CO001"
              supplier_assigned_account_id: "SUP-98765"
              address:
                street: "56 Busy Street"
                city: "Farthing"
                state: "Heremouthshire"
                postal_code: "AA99 1BB"
                country_code: "AU"
              contact:
                name: "Mrs Bouquet"
                telephone: "0158 1233714"
                telefax: "0158 1233856"
                email: "bouquet@consortial.com"
              tax_scheme:
                registration_name: "Farthing Purchasing Consortium"
                company_id: "175 269 2355"
                exemption_reason: "N/A"
                scheme_id: "VAT"
                tax_type_code: "VAT"
      responses:
        "201":
          description: Seller created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSellerResponse'
        "400":
          description: Invalid request — missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /v1/sellers:
    get:
      tags:
        - Sellers
      summary: Get all sellers
      description: |
        Returns all sellers in the system.
      responses:
        "200":
          description: List of sellers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellersListResponse'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/seller/{sellerId}:
    put:
      tags:
        - Sellers
      summary: Update seller
      description: |
        Updates an existing seller.

        Partial updates are supported. You may update one or more of the following:
        - party_name
        - customer_assigned_account_id
        - supplier_assigned_account_id
        - address
        - contact
        - tax_scheme
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSellerRequest'
            example:
              party_name: "Updated Seller Pty Ltd"
              supplier_assigned_account_id: "SUP-NEW-001"
              address:
                street: "20 George St"
                city: "Sydney"
                state: "NSW"
                postal_code: "2000"
                country_code: "AU"
              contact:
                name: "Updated Seller Contact"
                telephone: "0400000000"
                telefax: "0299999999"
                email: "updated@seller.com"
              tax_scheme:
                registration_name: "Updated Seller Tax Name"
                company_id: "999999"
                exemption_reason: "None"
                scheme_id: "GST"
                tax_type_code: "GST"
      responses:
        "200":
          description: Seller updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSellerResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Seller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerNotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    delete:
      tags:
        - Sellers
      summary: Delete seller
      description: |
        Deletes a seller only if all related orders are hard deleted.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Seller deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSellerResponse'
        "400":
          description: Invalid sellerId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Seller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerNotFoundError'
        "409":
          description: Seller has existing orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSellerConflictError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/buyer/{buyerId}/order:
    post:
      tags:
        - Orders
      summary: Create order (V1) [DEPRECATED]
      deprecated: true
      description: |
        ⚠️ **DEPRECATED: This endpoint will be removed in a future release.**

        Please use **POST /v2/buyer/{buyerId}/order** instead.

        Creates an order for a buyer and returns the generated UBL XML.

        **Note:** This V1 endpoint does not support registered buyer IDs or seller IDs.
        The `buyerId` path parameter is stored as an external reference only and is not
        validated against the buyers table. Buyer details in the XML are sourced from
        the `address` field in the request body. To include a named seller, provide a
        `supplier` string field — this will be used as the seller party name in the XML.
        For fully enriched buyer and seller XML, use **POST /v2/buyer/{buyerId}/order**.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              order_date: "2026-02-27"
              delivery_date: "2026-03-10"
              currency_code: "AUD"
              supplier: "Acme Supplies"
              address:
                street: "436 George St"
                city: "Sydney"
                state: "NSW"
                postal_code: "2000"
                country_code: "AU"
              items:
                - item_name: "Widget"
                  item_description: "Industrial widget"
                  quantity: 15
                  unit_price: 50.00
      responses:
        "200":
          description: Order created successfully
          content:
            application/xml:
              schema:
                type: string
                example: "<Order>...</Order>"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    get:
      tags:
        - Orders
      summary: List orders for a buyer
      description: |
        Retrieve a paginated list of orders for a buyer.

        **Note:** This endpoint uses the external `buyerId` reference, not a registered buyer UUID.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            example: CREATED
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
            format: date
            example: "2026-03-01"
        - name: toDate
          in: query
          required: false
          schema:
            type: string
            format: date
            example: "2026-03-10"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersListResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Buyer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/buyer/{buyerId}/order/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order by ID
      description: Retrieve a specific order for a buyer.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Order retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        "400":
          description: Invalid orderId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    put:
      tags:
        - Orders
      summary: Update order
      description: |
        Update an existing order for a buyer and return the updated UBL XML document.

        **Note:** This V1 endpoint does not support seller IDs. Seller information in
        the XML is not updated by this endpoint.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdateRequest'
            example:
              seller_id: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
              order_date: "2026-02-27"
              delivery_date: "2026-03-10"
              currency_code: "AUD"
              address:
                street: "436 George St"
                city: "Sydney"
                state: "NSW"
                postal_code: "2000"
                country_code: "AU"
              item:
                product_id: "2acd6acf-1d3d-405b-8177-eb110e46f712"
                item_name: "Widget"
                item_description: "Industrial widget"
                quantity: 15
                unit_price: 50
      responses:
        "200":
          description: Order updated successfully
          content:
            application/xml:
              schema:
                type: string
                example: "<Order>...</Order>"
        "400":
          description: Invalid request or validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    delete:
      tags:
        - Orders
      summary: Delete order
      description: Delete an existing order for the given buyer and orderId, only if the order status is already CANCELED.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Order deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "403":
          description: Buyer does not have access to this order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: Order cannot be deleted unless status is CANCELED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/buyer/{buyerId}/order/{orderId}/CANCELED:
    delete:
      tags:
        - Orders
      summary: Cancel order
      description: Cancel an existing order for the given buyer and orderId.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Order canceled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "403":
          description: Buyer does not have access to this order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "409":
          description: Order cannot be cancelled due to current status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelConflictError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/buyer/{buyerId}/order/CANCELED:
    delete:
      tags:
        - Orders
      summary: Delete all cancelled orders for buyer
      description: Delete all orders with status CANCELED belonging to the given buyerId.
      parameters:
        - name: buyerId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: All cancelled orders deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllCancelledOrdersResponse'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Buyer not found or buyerId invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/buyer/{buyerId}/order:
    post:
      tags:
        - Orders V2
      summary: Create order (V2)
      description: |
        Creates an order for a registered buyer and returns enriched UBL XML.

        Unlike V1, the `buyerId` must correspond to a buyer registered via **POST /v1/buyer**.
        The generated XML is automatically populated with the buyer's full details including
        party name, postal address, tax scheme, and contact information.

        **Seller support:** An optional `seller_id` field can be included in the request body.
        When provided, it must be a valid UUID of a seller registered via **POST /v1/seller**.
        The seller's full details (party name, account IDs, address, tax scheme, contact) will
        be embedded in the `SellerSupplierParty` block of the generated UBL XML. When `seller_id`
        is omitted, the `supplier` string field is used as a plain seller name fallback.
      parameters:
        - name: buyerId
          in: path
          required: true
          description: UUID of a registered buyer (created via POST /v1/buyer)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequestV2'
            example:
              order_date: "2024-01-15"
              delivery_date: "2024-01-20"
              currency_code: "AUD"
              seller_id: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
              address:
                street: "123 Main St"
                city: "Sydney"
                state: "NSW"
                postal_code: "2000"
                country_code: "AU"
              items:
                - item_name: "Widget A"
                  item_description: "A great widget"
                  unit_price: 10.00
                  quantity: 2
      responses:
        "200":
          description: Order created successfully — returns enriched UBL XML
          content:
            application/xml:
              schema:
                type: string
                example: "<Order>...</Order>"
        "400":
          description: Invalid request — bad UUID, missing fields, or invalid seller_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Buyer not found or seller not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerNotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/seller/{sellerId}/products:
    get:
      tags:
        - Products
      summary: Get all products for a seller
      description: Returns all products registered under the given seller.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of products for the seller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerProductsResponse'
        "400":
          description: Invalid sellerId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/seller/{sellerId}/product:
    post:
      tags:
        - Products
      summary: Create product
      description: Creates a new product under the given seller.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
            example:
              item_name: "Widget A"
              item_description: "An industrial-grade widget"
              unit_price: 49.99
              unit_code: "EA"
      responses:
        "201":
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/seller/{sellerId}/product/{productId}:
    put:
      tags:
        - Products
      summary: Update product
      description: Updates an existing product belonging to the given seller.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
            example:
              item_name: "Updated Widget"
              unit_price: 59.99
      responses:
        "200":
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    delete:
      tags:
        - Products
      summary: Delete product
      description: Deletes a product belonging to the given seller.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Product deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductResponse'
        "400":
          description: Invalid sellerId or productId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/product/{productId}:
    get:
      tags:
        - Products
      summary: Get product by ID
      description: Returns a single product by its UUID.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Product retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        "400":
          description: Invalid productId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/seller/{sellerId}/cart:
    get:
      tags:
        - Cart
      summary: Get cart
      description: Returns the current cart contents for the given seller.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Cart retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: Invalid sellerId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    delete:
      tags:
        - Cart
      summary: Clear cart
      description: Removes all items from the seller's cart.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Cart cleared successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearCartResponse'
        "400":
          description: Invalid sellerId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/seller/{sellerId}/cart/item:
    post:
      tags:
        - Cart
      summary: Add item to cart
      description: |
        Adds a product to the seller's cart.

        Supply either a registered `product_id` (UUID) to pull details from the product
        catalogue, or provide item fields inline (`item_name`, `unit_price`, etc.).
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToCartRequest'
            example:
              product_id: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
              quantity: 3
      responses:
        "200":
          description: Item added to cart successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/seller/{sellerId}/cart/item/{productId}:
    put:
      tags:
        - Cart
      summary: Update cart item
      description: Updates the quantity or details of a specific item in the seller's cart.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCartItemRequest'
            example:
              quantity: 5
      responses:
        "200":
          description: Cart item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Item not found in cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

    delete:
      tags:
        - Cart
      summary: Remove item from cart
      description: Removes a specific product from the seller's cart.
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Item removed from cart successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: Invalid sellerId or productId format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Item not found in cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v2/seller/{sellerId}/cart/checkout:
    post:
      tags:
        - Cart
      summary: Checkout cart
      description: |
        Converts the seller's current cart into a UBL order for the specified buyer.

        The `buyer_id` in the request body must be a UUID of a buyer registered via
        **POST /v1/buyer**. On success the cart is cleared and enriched UBL XML is returned.

        Can be used as an improved Order Creation route splits of product handeling to a different route and is recived from a staging area
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
            example:
              buyer_id: "3f7a2c1e-4b5d-4e6f-9a8b-1c2d3e4f5a6b"
              delivery_date: "2026-05-01"
              currency_code: "AUD"
              address:
                street: "436 George St"
                city: "Sydney"
                state: "NSW"
                postal_code: "2000"
                country_code: "AU"
      responses:
        "200":
          description: Checkout successful — returns enriched UBL XML
          content:
            application/xml:
              schema:
                type: string
                example: "<Order>...</Order>"
        "400":
          description: Invalid request — missing buyer_id, empty cart, or bad UUIDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        "401":
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApiKeyError'
        "404":
          description: Seller or buyer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /v1/validate-xml:
    post:
      tags:
        - Utility
      security: []
      summary: Validate XML
      description: Validate an order XML document against UBL 2.1 schema rules.
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              example: "<Order>...</Order>"
      responses:
        "200":
          description: XML is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XmlValidationResponse'
        "400":
          description: XML validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XmlValidationError'
        "500":
          description: Server error during validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

  /send-email:
    post:
      tags:
        - Utility
      security: []
      summary: Send an email
      description: |
        Sends an email using the configured SMTP server.

        Supports:
        - Plain text body
        - Optional HTML body
        - CC and BCC recipients
        - File attachments (base64 encoded)

        If `html_body` is not provided, a default styled email template
        will be generated automatically.

      operationId: sendEmail

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - subject
                - body
              properties:

                to:
                  type: array
                  description: List of primary recipient email addresses
                  items:
                    type: string
                    format: email
                  example:
                    - user@example.com

                subject:
                  type: string
                  description: Email subject line
                  example: Order Created

                body:
                  type: string
                  description: Plain text email body
                  example: |
                    Your order ORD-1001 has been created successfully.

                sender:
                  type: string
                  format: email
                  description: Optional sender email address
                  example: noreply@cloudy.com

                cc:
                  type: array
                  description: Optional CC recipients
                  items:
                    type: string
                    format: email
                  example:
                    - manager@example.com

                bcc:
                  type: array
                  description: Optional BCC recipients
                  items:
                    type: string
                    format: email

                html_body:
                  type: string
                  description: Optional HTML formatted email body
                  example: |
                    <h2>Order Created</h2>
                    <p>Your order has been processed.</p>

                attachments:
                  type: array
                  description: |
                    Optional file attachments encoded in base64.
                  items:
                    type: object
                    required:
                      - filename
                      - data
                    properties:

                      filename:
                        type: string
                        example: invoice.pdf

                      data:
                        type: string
                        description: Base64 encoded file content
                        example: VGhpcyBpcyBhIHRlc3QgZmlsZQ==

      responses:

        "200":
          description: Email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Email sent to user@example.com

        "400":
          description: Invalid JSON request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Request body must be valid JSON.

        "422":
          description: Validation error in request payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Missing required field 'to'.

        "500":
          description: Email sending failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Failed to send email.

  /v1/proxy:
    post:
      tags:
        - Utility
      security: []
      summary: Proxy external HTTP request
      description: |
        Forwards an HTTP request to an external API and returns the raw response. **Use in case CORS is deactivated for an API**

        ⚠️ Use with caution. This endpoint allows sending requests to arbitrary URLs.

        - Supports GET, POST, PUT, DELETE, etc.
        - Pass headers, query params, and body dynamically
        - Response is returned as-is (status + content-type preserved)

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyRequest'
            example:
              url: "https://api.example.com/data"
              method: "POST"
              headers:
                api-key: "<YOUR-TOKEN>"
              params:
                id: "sh23z4-ad4a-4a55-a292-f44b109fa9b2"
              body:
                key: "value"

      responses:
        "200":
          description: Successful proxied response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

        "400":
          description: Missing or invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'

        "502":
          description: Could not connect to target URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyConnectionError'

        "504":
          description: External request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyTimeoutError'

        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-key

  schemas:

    CreateApiKeyRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: "john_doe"
        password:
          type: string
          example: "password123"

    ApiKeyResponse:
      type: object
      properties:
        apikey:
          type: string
          example: "ubl_sk_b7c4c5e8a9d34f6c9b8e21d7a4f12345"

    Address:
      type: object
      properties:
        street:
          type: string
          example: "436 George St"
        city:
          type: string
          example: "Sydney"
        state:
          type: string
          example: "NSW"
        postal_code:
          type: string
          example: "2000"
        country_code:
          type: string
          example: "AU"

    TaxScheme:
      type: object
      properties:
        registration_name:
          type: string
          example: "Bridgtow District Council"
        company_id:
          type: string
          example: "12356478"
        exemption_reason:
          type: string
          example: "Local Authority"
        scheme_id:
          type: string
          example: "UK VAT"
        tax_type_code:
          type: string
          example: "VAT"

    Contact:
      type: object
      properties:
        name:
          type: string
          example: "Mr Fred Churchill"
        telephone:
          type: string
          example: "0127 2653214"
        telefax:
          type: string
          example: "0127 2653215"
        email:
          type: string
          example: "fred@iytcorporation.gov.uk"

    OrderItem:
      type: object
      properties:
        item_name:
          type: string
          example: "Widget"
        item_description:
          type: string
          example: "Industrial widget"
        quantity:
          type: integer
          example: 15
        unit_price:
          type: number
          example: 50.00
        unit_code:
          type: string
          example: "EA"
          description: Unit of measure code (defaults to EA if omitted)

    CreateBuyerRequest:
      type: object
      required:
        - customer_assigned_account_id
        - party_name
      properties:
        customer_assigned_account_id:
          type: string
          example: "XFB01"
        supplier_assigned_account_id:
          type: string
          example: "GT00978567"
        party_name:
          type: string
          example: "IYT Corporation"
        address:
          $ref: '#/components/schemas/Address'
        tax_scheme:
          $ref: '#/components/schemas/TaxScheme'
        contact:
          $ref: '#/components/schemas/Contact'

    CreateBuyerResponse:
      type: object
      properties:
        buyerId:
          type: string
          format: uuid
          example: "3f7a2c1e-4b5d-4e6f-9a8b-1c2d3e4f5a6b"
        message:
          type: string
          example: "Buyer created successfully"

    UpdateBuyerRequest:
      type: object
      properties:
        customer_assigned_account_id:
          type: string
          example: "XFB01"
        supplier_assigned_account_id:
          type: string
          example: "GT00978567"
        party_name:
          type: string
          example: "Updated Buyer Pty Ltd"
        address:
          $ref: '#/components/schemas/Address'
        tax_scheme:
          $ref: '#/components/schemas/TaxScheme'
        contact:
          $ref: '#/components/schemas/Contact'

    UpdateBuyerResponse:
      type: object
      properties:
        buyerId:
          type: string
          format: uuid
          example: "3f7a2c1e-4b5d-4e6f-9a8b-1c2d3e4f5a6b"
        message:
          type: string
          example: "Buyer updated successfully"

    DeleteBuyerResponse:
      type: object
      properties:
        buyerId:
          type: string
          format: uuid
          example: "3f7a2c1e-4b5d-4e6f-9a8b-1c2d3e4f5a6b"
        message:
          type: string
          example: "Buyer deleted successfully"

    CreateSellerRequest:
      type: object
      required:
        - customer_assigned_account_id
        - party_name
      properties:
        customer_assigned_account_id:
          type: string
          example: "CO001"
        supplier_assigned_account_id:
          type: string
          example: "SUP-98765"
        party_name:
          type: string
          example: "Consortial Supplies"
        address:
          $ref: '#/components/schemas/Address'
        tax_scheme:
          $ref: '#/components/schemas/TaxScheme'
        contact:
          $ref: '#/components/schemas/Contact'

    CreateSellerResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        message:
          type: string
          example: "Seller created successfully"

    UpdateSellerRequest:
      type: object
      properties:
        customer_assigned_account_id:
          type: string
          example: "CO001"
        supplier_assigned_account_id:
          type: string
          example: "SUP-98765"
        party_name:
          type: string
          example: "Updated Seller Pty Ltd"
        address:
          $ref: '#/components/schemas/Address'
        tax_scheme:
          $ref: '#/components/schemas/TaxScheme'
        contact:
          $ref: '#/components/schemas/Contact'

    UpdateSellerResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        message:
          type: string
          example: "Seller updated successfully"

    DeleteSellerResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        message:
          type: string
          example: "Seller deleted successfully"

    OrderRequest:
      type: object
      required:
        - order_date
        - delivery_date
        - currency_code
        - address
        - items
      properties:
        order_date:
          type: string
          format: date
          example: "2026-02-27"
        delivery_date:
          type: string
          format: date
          example: "2026-03-10"
        currency_code:
          type: string
          example: "AUD"
        supplier:
          type: string
          example: "Acme Supplies"
          description: Plain seller name used in the UBL XML (V1 only — no seller registration needed)
        address:
          $ref: '#/components/schemas/Address'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    OrderRequestV2:
      type: object
      required:
        - order_date
        - delivery_date
        - currency_code
        - address
        - items
      properties:
        order_date:
          type: string
          format: date
          example: "2026-02-27"
        delivery_date:
          type: string
          format: date
          example: "2026-03-10"
        currency_code:
          type: string
          example: "AUD"
        seller_id:
          type: string
          format: uuid
          nullable: true
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
          description: |
            Optional UUID of a registered seller (created via POST /v1/seller).
            When provided, the seller's full details are embedded in the UBL XML.
            When omitted, the `supplier` string is used as a plain name fallback.
        supplier:
          type: string
          example: "Acme Supplies"
          description: Plain seller name fallback — used only when seller_id is not provided
        delivery_start_date:
          type: string
          format: date
          example: "2024-01-18"
          description: Optional start date for the requested delivery period
        delivery_start_time:
          type: string
          example: "09:00:00"
          description: Optional start time for the requested delivery period
        delivery_end_time:
          type: string
          example: "17:00:00"
          description: Optional end time for the requested delivery period
        address:
          $ref: '#/components/schemas/Address'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    OrderUpdateRequest:
      type: object
      properties:
        seller_id:
          type: string
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        order_date:
          type: string
          format: date
          example: "2026-02-27"
        delivery_date:
          type: string
          format: date
          example: "2026-03-10"
        currency_code:
          type: string
          example: "AUD"
        address:
          $ref: '#/components/schemas/Address'
        item:
          $ref: '#/components/schemas/OrderItem'

    OrderResponse:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
          example: "1273819c-ad12-4f6a-b8e2-11d7a4f12345"
        status:
          type: string
          example: "CREATED"
        items:
          type: array
          items:
            type: object
            properties:
              productId:
                type: string
                nullable: true
                example: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
              productName:
                type: string
                example: "Widget"
              productDescription:
                type: string
                nullable: true
                example: "Industrial widget"
              unitPrice:
                type: string
                example: "50.0"
              quantity:
                type: integer
                example: 10
              totalPrice:
                type: string
                example: "500.0"
        xml:
          type: string
          example: "<Order>...</Order>"

    OrdersListResponse:
      type: object
      properties:
        status:
          type: integer
          example: 200
        message:
          type: string
          example: "All orders for a buyer"
        buyerId:
          type: string
          example: "0d2f9e2a-1f40-4b12-9e22-1b2a9e0c1234"
        count:
          type: integer
          example: 2
        limit:
          type: integer
          example: 10
        offset:
          type: integer
          example: 0
        orders:
          type: array
          items:
            type: object
            properties:
              orderId:
                type: string
                format: uuid
              status:
                type: string
                example: "CREATED"
              orderDate:
                type: string
                format: date
                example: "2026-03-10"
              deliveryDate:
                type: string
                format: date
                example: "2026-03-12"
              currencyCode:
                type: string
                example: "AUD"
              itemCount:
                type: integer
                example: 1
              totalAmount:
                type: string
                example: "100"

    CancelOrderResponse:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
          example: "1273819c-ad12-4f6a-b8e2-11d7a4f12345"
        status:
          type: string
          example: "CANCELED"
        message:
          type: string
          example: "Order canceled successfully"

    DeleteOrderResponse:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
          example: "1273819c-ad12-4f6a-b8e2-11d7a4f12345"
        message:
          type: string
          example: "Order deleted successfully"

    DeleteAllCancelledOrdersResponse:
      type: object
      properties:
        buyerId:
          type: string
          example: "2c0c7e5b-1f1e-4a5e-90ef-8a3d3a0a3d11"
        message:
          type: string
          example: "All canceled orders deleted successfully"

    CreateProductRequest:
      type: object
      required:
        - item_name
        - unit_price
      properties:
        item_name:
          type: string
          example: "Widget A"
        item_description:
          type: string
          example: "An industrial-grade widget"
        unit_price:
          type: number
          example: 49.99
        unit_code:
          type: string
          example: "EA"
          description: Unit of measure code (defaults to EA if omitted)

    CreateProductResponse:
      type: object
      properties:
        productId:
          type: string
          format: uuid
          example: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
        message:
          type: string
          example: "Product created successfully"

    UpdateProductRequest:
      type: object
      properties:
        item_name:
          type: string
          example: "Updated Widget"
        item_description:
          type: string
          example: "Updated description"
        unit_price:
          type: number
          example: 59.99
        unit_code:
          type: string
          example: "EA"

    UpdateProductResponse:
      type: object
      properties:
        productId:
          type: string
          format: uuid
          example: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
        message:
          type: string
          example: "Product updated successfully"

    DeleteProductResponse:
      type: object
      properties:
        productId:
          type: string
          format: uuid
          example: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
        message:
          type: string
          example: "Product deleted successfully"

    ProductResponse:
      type: object
      properties:
        product_id:
          type: string
          format: uuid
          example: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
        seller_id:
          type: string
          format: uuid
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        item_name:
          type: string
          example: "Widget A"
        item_description:
          type: string
          example: "An industrial-grade widget"
        unit_price:
          type: number
          example: 49.99
        unit_code:
          type: string
          example: "EA"

    SellerProductsResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        count:
          type: integer
          example: 3
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductResponse'

    CartItem:
      type: object
      properties:
        product_id:
          type: string
          format: uuid
          nullable: true
          example: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
        item_name:
          type: string
          example: "Widget A"
        item_description:
          type: string
          example: "An industrial-grade widget"
        unit_price:
          type: number
          example: 49.99
        quantity:
          type: integer
          example: 2
        unit_code:
          type: string
          example: "EA"

    CartResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        total:
          type: number
          example: 99.98

    ClearCartResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
          example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
        message:
          type: string
          example: "Cart cleared successfully"

    AddToCartRequest:
      type: object
      properties:
        product_id:
          type: string
          format: uuid
          nullable: true
          example: "a9c3d2f1-1234-4f6a-b8e2-11d7a4f12345"
          description: UUID of a registered product. When provided, item details are pulled from the catalogue.
        item_name:
          type: string
          example: "Widget A"
          description: Required if product_id is not provided
        item_description:
          type: string
          example: "An industrial-grade widget"
        unit_price:
          type: number
          example: 49.99
          description: Required if product_id is not provided
        quantity:
          type: integer
          example: 2
        unit_code:
          type: string
          example: "EA"

    UpdateCartItemRequest:
      type: object
      properties:
        quantity:
          type: integer
          example: 5
        unit_price:
          type: number
          example: 44.99

    CheckoutRequest:
      type: object
      required:
        - buyer_id
      properties:
        buyer_id:
          type: string
          format: uuid
          example: "3f7a2c1e-4b5d-4e6f-9a8b-1c2d3e4f5a6b"
          description: UUID of a registered buyer (created via POST /v1/buyer)
        delivery_date:
          type: string
          format: date
          example: "2026-05-01"
        currency_code:
          type: string
          example: "AUD"
        address:
          $ref: '#/components/schemas/Address'

    BadRequestError:
      type: object
      properties:
        status:
          type: integer
          example: 400
        error:
          type: string
          example: "Invalid request"

    NotFoundError:
      type: object
      properties:
        status:
          type: integer
          example: 404
        error:
          type: string
          example: "Order not found"

    BuyerNotFoundError:
      type: object
      properties:
        status:
          type: integer
          example: 404
        error:
          type: string
          example: "Buyer not found"

    SellerNotFoundError:
      type: object
      properties:
        status:
          type: integer
          example: 404
        error:
          type: string
          example: "Seller not found"

    ServerError:
      type: object
      properties:
        status:
          type: integer
          example: 500
        error:
          type: string
          example: "Internal server error"

    InvalidApiKeyError:
      type: object
      properties:
        error:
          type: string
          example: "Unauthorized"

    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: "Invalid username or password"

    ForbiddenError:
      type: object
      properties:
        status:
          type: integer
          example: 403
        error:
          type: string
          example: "Forbidden - buyer does not have access to this order"

    ConflictError:
      type: object
      properties:
        status:
          type: integer
          example: 409
        error:
          type: string
          example: "Order cannot be deleted unless status is CANCELED"

    DeleteBuyerConflictError:
      type: object
      properties:
        error:
          type: string
          example: "Buyer cannot be deleted because related orders still exist. All related orders must be hard deleted first."

    DeleteSellerConflictError:
      type: object
      properties:
        error:
          type: string
          example: "Seller cannot be deleted because related orders still exist. All related orders must be hard deleted first."

    CancelConflictError:
      type: object
      properties:
        status:
          type: integer
          example: 409
        error:
          type: string
          example: "Order cannot be cancelled due to current status"

    XmlValidationResponse:
      type: object
      properties:
        valid:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: string
          example: []

    XmlValidationError:
      type: object
      properties:
        valid:
          type: boolean
          example: false
        errors:
          type: array
          items:
            type: string
          example:
            - "Missing required element: <cbc:ID>"
            - "Order must contain at least one <cac:OrderLine>"

    ProxyRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          example: "https://api.example.com/data"
        method:
          type: string
          example: "POST"
        headers:
          type: object
          additionalProperties:
            type: string
          example:
            Authorization: "Bearer token"
        params:
          type: object
          additionalProperties: true
          example:
            page: 1
        body:
          description: Request payload (JSON object or raw string)
          oneOf:
            - type: object
              additionalProperties: true
            - type: string

    ProxyConnectionError:
      type: object
      properties:
        error:
          type: string
          example: "Could not connect to https://api.example.com"

    ProxyTimeoutError:
      type: object
      properties:
        error:
          type: string
          example: "Request to external API timed out"

    BuyersListResponse:
      type: object
      properties:
        buyers:
          type: array
          items:
            type: object
            properties:
              buyerId:
                type: string
                example: "3f7a2c1e-4b5d-4e6f-9a8b-1c2d3e4f5a6b"
              party_name:
                type: string
                example: "IYT Corporation"
              customer_assigned_account_id:
                type: string
                example: "XFB01"
              contact_name:
                type: string
                example: "Mr Fred Churchill"
              contact_email:
                type: string
                example: "fred@iytcorporation.gov.uk"

    SellersListResponse:
      type: object
      properties:
        sellers:
          type: array
          items:
            type: object
            properties:
              seller_id:
                type: string
                example: "6ca72a7f-ad4a-4a55-a292-f44b109fa9b2"
              party_name:
                type: string
                example: "Consortial Supplies"
              customer_assigned_account_id:
                type: string
                example: "SUP-98765"